*{
    scroll-behavior: smooth;
    
}
#root{
    height: 100%;
    margin: auto;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #0A1D4A;
    
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border: 3px solid rgb(1, 28, 95) ;
    
    
}
::-webkit-scrollbar-thumb :hover{
    background-color: greenyellow;
}